<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>
<div >
  <div th:fragment="new">
    <p>ok ok</p>
  </div>
  <div th:fragment="dd" class="w-100 footer-padding bg-light">

    <div class="container container-1280">
      <div class="footer-nav w-100">
        <div class="row ">
          <div class="col logo-social d-flex flex-column">
                    <span class="navbar-brand d-flex flex-column mb-auto">
                        <img title="Guestreservations - Logo" alt="Guestreservations - Logo" src="/assets/237ed65f/images/logo-dark-tm.svg">
                        <small> An independent travel network</small>
                    </span>
            <div class="social-networks">
              <a title="GuestReservations on Facebook" href="https://www.facebook.com/guestreservations" target="_blank">
                <img title="GuestReservations on Facebook" alt="GuestReservations on Facebook" src="/assets/237ed65f/images/social-networks/facebook.svg">
              </a>
              <a title="GuestReservations on Twitter" href="https://twitter.com/guest_res" target="_blank">
                <img title="GuestReservations on Twitter" alt="GuestReservations on Twitter" src="/assets/237ed65f/images/social-networks/twitter.svg">
              </a>
              <a title="GuestReservations on Instagram" href="https://www.instagram.com/guestreservations/" target="_blank">
                <img title="GuestReservations on Instagram" alt="GuestReservations on Instagram" src="/assets/237ed65f/images/social-networks/instagram.svg">
              </a>
            </div>
          </div>
          <div class="col nav-footer d-flex">
            <div class="styles">
              <h5>Learn More</h5>
              <ul class="list-unstyled ">
                <li><a href="https://www.guestreservations.com/about/page" title="About Us">About Us</a></li>
                <li><a href="https://www.guestreservations.com/about/faq" title="FAQs">FAQs</a></li>
                <li><a href="https://www.guestreservations.com/about/news" title="News">News</a></li>
                <li><a href="https://www.guestreservations.com/about/reviews" title="Customer Reviews">Customer Reviews</a></li>
                <li><a href="https://www.guestreservations.com/about/termsofuse" title="Terms of Service">Terms of Service</a></li>
                <li><a href="https://www.guestreservations.com/about/privacy" title="Privacy Policy">Privacy Policy</a></li>
              </ul>
            </div>
            <div class="styles">
              <h5>Get in Touch</h5>
              <ul class="list-unstyled">
                <li><a href="https://www.guestreservations.com/about/contact" title="Contact Us">Contact Us</a></li>
                <li><a href="https://www.guestreservations.com/about/mybooking" title="My Booking">My Booking</a></li>
                <li><a href="https://groups.guestreservations.com/Group-Rate/?PreferredHotels=Furama+Resort+Danang&amp;city=Da+Nang" title="Group Rates">Group Rates</a></li>
                <li><a href="https://groups.guestreservations.com/Group-Rate/?PreferredHotels=Furama+Resort+Danang&amp;city=Da+Nang&amp;GroupType=150&amp;sc=GRes_Weddings" title="Weddings">Weddings</a></li>
                <li><a href="https://groups.guestreservations.com/Group-Rate/?PreferredHotels=Furama+Resort+Danang&amp;city=Da+Nang&amp;es=1" title="Extended Stay">Extended Stay</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="copyrighted-slogan w-100">
        <div class="row">
          <div class="col-md-auto copyrighted">
            <p>Copyright 2023 <b class="trademark-name">Guest Reservations<sup>TM</sup></b>.</p>
          </div>
          <div class="col slogan">
            <p> <span class="trademark-name"> <b class="trademark-name">Guest Reservations<sup>TM</sup></b> is an independent
                           travel network <br class="for-mobile for-tablet"> offering over 100,000 hotels worldwide.</span></p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</body>
</html>>